body {
  margin: 0px;
  text-align: center;
  background-color: #01284d;
}
.mainlogo {
  margin: 0 auto;
}
#heading {
  margin-top: 0px;
  font-family: 'Lucida Sans Unicode';
}
.head {
  display: inline-block;
  text-align: left;
  width: 1025px;
}
.head a {
  padding-left: 23px;
  text-decoration: none;
  color: white;
  font-size: 23px;
}
.head a:hover {
  background-color: #145a9c;
  padding-top: 7px;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-right: 23px;
}
.head h2 {
  background-color: #2a92f5;
  border: 1px solid white;
  padding: 3px;
}
.nav {
  position: relative;
  right: 220px;
}
.nav ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.nav ul li a {
  text-decoration: none;
  font-family: 'Lucida Sans Unicode';
}
.nav * {
  color: white;
}

.nav ul li {
  display: inline;
  padding-left: none;
}
.middle #mainhead {
  margin-top: 15px;
  position: relative;
  text-align: left;
  left: 30px;
  font-size: 50px;
  font-family: 'Georgia';
  font-weight: lighter;
}
.middle {
  margin: auto;
  background-color: #d7e8f7;
  max-width: 1025px;
}
#mainhead {
  padding-top: 15px;
  margin-bottom: 0px;
}
.innermiddle {
  margin: 0px 25px;
  background-color: white;
  min-height: 400px;
  padding-bottom: 20px;
}
.innermiddle #innerul {
  padding-left: 10px;
  text-align: left;
  list-style-type: none;
}
.innermiddle .mainbtns {
  font-family: 'Lucida Sans Unicode';
  padding: 10px;
  text-decoration: underline;
  border: none;
  font-size: 16px;
  color: #0e639c;
  background-color: white;
}
.innermiddle .mainbtns:hover {
  color: white;
  background-color: #0e639c;
}
.innermiddle .mainbtns:focus {
  color: white;
  background-color: #0e639c;
}
.innermiddle .content {
  margin: 0px 20px;
  text-align: left;
  font-family: 'Lucida Sans Unicode';
}
.innermiddle .content p {
  color: #383838;
  font-size: 15px;
}
.innermiddle .content #subheading {
  color: black;
  font-size: 23px;
}
.innermiddle .content #description {
  margin-right: 20px;
}
.innermiddle .content #image1 {
  height: 250px;
  width: 400px;
}
::selection {
  color: white;
  background: #fa619c;
}
.innermiddle .content table,
th,
tr,
td {
  border-collapse: collapse;
  border: 1px solid darkgray;
  padding: 8px 10px;
}
.innermiddle .content #submit {
  font-size: 16px;
}
.innermiddle .content #answer {
  font-family: 'Lucida Sans Unicode';
}
#table1 th {
  text-align: center;
  font-weight: lighter;
  color: maroon;
}
#lang,
#eng,
#hin {
  font-size: 16px;
}
#eng,
#hin {
  min-width: 150px;
}